<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the Patient Management System</h1>
<div>
    <a th:href="@{/patient/list}">List Patients</a>
</div>
<div>
    <a th:href="@{/patient/addPatient}">Add Patient</a>
</div>
</body>
</html>
